<nav class="left-panel">
    <ul>
        <li uniScrollItem="section1">Section 1</li>
        <li uniScrollItem="section2">Section 2</li>
        <li uniScrollItem="section3">Section 3</li>
        <li uniScrollItem="section4">Section 4</li>
    </ul>
</nav>
<div class="right-panel">
    <section uniScrollSpy="section1" style="height: 1000px;">Section 1</section>
    <section uniScrollSpy="section2" style="height: 1000px;">Section 2</section>
    <section uniScrollSpy="section3" style="height: 1000px;">Section 3</section>
    <section uniScrollSpy="section4" style="height: 1000px;">Section 4</section>
</div>
